.container {
    $fontSize: 0.9rem;

    width: 100%;
    padding: 1.25rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

    user-select: none;

    h4 {
        a {
            padding: 0.5rem 0.75rem;

            text-decoration: none;
            color: black;
            font-weight: normal;
            letter-spacing: 3px;

            span {
                font-size: $fontSize;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

            &:hover {
                border-radius: 3px;
                background-color: rgb(230, 230, 230);
            }
        }
    }

    div {
        a {
            margin-right: 1rem;
            padding: 0.5rem .75rem;

            text-decoration: none;
            color: black;
            font-size: $fontSize;
            letter-spacing: 3px;

            &:hover {
                border-radius: 3px;
                background-color: rgb(230, 230, 230);
            }

            &:last-of-type {
                margin-right: 4rem;
            }
        }
    }
}
